.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  //background-color: #333;
  //background-color: #D9F0F9;
}
.text{
  color: purple;
}


/****
* COLOR SCHEME
* base: #D9F0F9
* main: #87CEEB
* accent: #EBA487
***/