
.text{
  color: green;
}

.autoCompleteContainer{
  width: 90%;
  border-radius: 20px;
}

.autoCompleteListContainer{
  border-radius: 0 0 20px 20px;
}

.autoCompleteFlatList{
  border-radius: 0 0 20px 20px;
}

.backgroundImageStyle { 
  height: 100%;
  width: 100%;
}

.datePickerTop{
  //width: 300px;
  //font-size: 50px;
  //background-color: white;
  margin-top: 35px;
  margin-bottom: 5px;
  //color: white;
}

.datePickerBottom{
  margin-top: 5px;
  margin-bottom: 35px; 
}

.startButton{
  background-color: #87ceeb;
  border-radius: 25px;
  padding: 12px 30px;
  //box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.startButtonText{
  color: #5A5A5A;
  font-size: 20px;
  font-weight: bold;
}