
.text{
  color: green;
}

.autoCompleteContainer{
  width: 90%;
  border-radius: 20px;
}

.autoCompleteListContainer{
  border-radius: 0 0 20px 20px;
}

.autoCompleteFlatList{
  border-radius: 0 0 20px 20px;
}